/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2017, 6:49:47 PM
    Author     : Kushan
*/
@import "constraint.scss";

#button{
    border-radius: 25px;
    background: $bc;
    width: 100%;
    height: 100%;
    font-size: 25px;
}
.score{
   background: $bc;
}