.html {
   margin: 0px;
   height: 100%;
   width: 100%;
   overflow: auto;
}
.body{
    overflow: auto;
    margin: 0;
    height: 100%;
    background:black;
}
.container{
    width: 100%;
    height: 100%;
    
    overflow:auto;
}
.main{
    width: 100%;
    height: 70%;
    background: blue;
    overflow:auto;
}
.score{
    width: 30%;
    height: 10%;
    float :right;
    float :top; 
    overflow: auto;
    background: green;
}
#current_Score{
    float: right;
    margin-right: 10%;
}
.playGround{
    width: 100%;
    height:90%;
    overflow: auto;
    background: blanchedalmond;
}
.detalis{
    width: 100%;
    height: 30%;
    background:  green;
    overflow:auto;
}
#exitButton,#Level,#Name,#Menu,#Pause{
    width: 20%;
    height:100%;
    background: white;
    overflow: auto;
}

